[class^="icon"] {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}
.icon-chevron-right {
  background-image: url("../images/icons/chevron-right.svg");
  width: 18px;
  height: 18px;
}
.icon-chevron-left {
  background-image: url("../images/icons/chevron-left.svg");
  width: 18px;
  height: 18px;
}
.icon-chevron-bottom {
  background-image: url("../images/icons/chevron-bottom.svg");
  width: 14px;
  height: 9px;
}
.icon-check-red {
  background-image: url("../images/icons/check-red.svg");
  width: 14px;
  height: 10px;
}
.icon-check-blue {
  background-image: url("../images/icons/check-blue.svg");
  width: 14px;
  height: 10px;
}
.icon-card {
  background-image: url("../images/icons/card.svg");
  width: 14px;
  height: 14px;
}
.icon-account {
  background-image: url("../images/icons/icon\ \(2\).svg");
  width: 23px;
  height: 23px;
}
.icon-favourite {
  background-image: url("../images/icons/icon\ \(1\).svg");
  width: 28px;
  height: 23px;
}
.icon-total-card {
  background-image: url("../images/icons/icon.svg");
  width: 27px;
  height: 23px;
}
.icon-menu {
  background-image: url("../images/icons/menu.svg");
  width: 20px;
  height: 20px;
}
.icon-dicount {
  background-image: url("../images/icons/icon\ \(3\).svg");
  width: 23px;
  height: 23px;
}